.Button {
  background-color: var(--white);
  border: 2px solid var(--gray);
  padding: var(--space-1) var(--space-3);
  min-width: 25rem;
  border-radius: var(--radius-l);
  text-transform: uppercase;
  transition: transform 0.5s ease, background-color 0.3s ease,
    color 0.3s ease;
}

.Button:hover {
  /* transform: scale(1.05); */
  background-color: var(--dark);
  color: var(--white);
}
