.Button {
  background-color: var(--white);
  border: 2px solid var(--gray);
  padding: var(--space-1) var(--space-3);
  min-width: 25rem;
  width: 100%;
  border-radius: var(--radius-l);
  text-transform: uppercase;
  transition: all 0.5s ease;
  outline: none;
}

@media (min-width: 900px) {
  .Button:hover {
    transform: scale(1.05);
  }
}
