.Score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 var(--space-2);
  padding: var(--space-2);
  border-radius: var(--radius-full);
  color: var(--white);
  font-family: var(--deco);
  background: var(--degrade-main);
  width: 5rem;
  height: 5rem;
}
