.Options {
  display: flex;
  align-items: center;
  flex-flow: column;
  align-items: center;
  gap: var(--space-2);
}

.Correct {
  border-color: var(--success);
  background-color: var(--success-light);
  color: var(--white);
}

.Incorrect {
  border-color: var(--error);
  background-color: var(--error-light);
  color: var(--white);
}

.IncorrectOptions:nth-child(2) {
  order: 25;
}

.IncorrectOptions:nth-child(3) {
  order: 50;
}

.IncorrectOptions:nth-child(4) {
  order: 75;
}
