.Table {
  background: var(--degrade-white);
  width: 100%;
  border-radius: var(--radius-m);
  border: 3px solid var(--gray);
  max-width: 50rem;
  margin: 0 auto;
}

.Table thead {
  display: grid;
  gap: var(--space-1);
}

.Table tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed var(--overcast);
  padding: var(--space-1);
}

.Table tr:last-of-type {
  border-bottom: none;
}

.Rate {
  font-weight: bold;
  position: relative;
  z-index: 100;
}

.Low {
  color: var(--error);
}

.Mid {
  color: var(--warning);
}

.High {
  color: var(--success);
}

.Correct {
  color: var(--success);
  font-weight: bold;
}

.Inorrect {
  color: var(--error);
  font-weight: bold;
}
