.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: var(--shadow-l);
  padding: var(--space-1);
  width: 100%;
  background-color: var(--light);
  overflow: hidden;
}

.Wrap {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.Title {
  font-size: 2rem;
  width: fit-content;
}

.Modality {
  position: relative;
  font-family: var(--deco);
  color: var(--white);
}

.Modality::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--degrade-black);
  z-index: -1;
  transform: skew(-45deg) scale(2);
}
