@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

:root {
  --base: 'Plus Jakarta Sans', sans-serif;
  --deco: 'Merienda One', cursive;

  --black: #000;
  --dark: #111;
  --opaque: #333;
  --overcast: #777;
  --gray: #ccc;
  --light: #eee;
  --white: #fff;

  --primary: #d04d0b;
  --secondary: #15d;

  --radius: 0.5rem;
  --radius-m: 1rem;
  --radius-l: 2rem;
  --radius-full: 100%;

  --space: 0.5rem;
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 5rem;
  --space-5: 7rem;
  --space-6: 10rem;

  --shadow: 0 0 0.5rem var(--overcast);
  --shadow-m: 0 0 1rem var(--overcast);
  --shadow-l: 0 0 7rem var(--overcast);

  --degrade-main: linear-gradient(
    45deg,
    var(--primary),
    var(--secondary)
  );
  --degrade-black: linear-gradient(
    45deg,
    var(--black),
    var(--overcast)
  );
}

/* 
--> xs, extra-small: 0px
--> sm, small: 600px
--> md, medium: 900px
--> lg, large: 1200px
--> xl, extra-large: 1536px.
*/
